<h1>What is it?</h1>
<p><a href="http://en.wikipedia.org/wiki/Neon" alt="Neon (Ne)" target="_blank">Neon (Ne)</a> is a javascript Class system, designed to wrap up object oriented logic around Javascript objects (which are not truly OO), and to establish a common base language for developers using such classes.</p>

<a class="get-code" href="<%= Cd.proj.githubUrl %>" target="_blank">
    <div class="button get-code-button">
        <i class="icon icon-github"></i>
        <span> Get the code on Github! </span>
        <div class="shade"></div>
    </div>      
</a>