<h1>Final notes</h1>
<p>Originaly Cadmium was coded for Thulium project page, then adapted for easy page creation and fast deploy.</p>
<p>You can connect your editor to a <a href="http://livereload.com/">LiveAutoReload plugins</a> to skip the reload each time.</p>

<p>There are some things that need to be done:</p>
<ul>
    <li>Clean the cadmium.js code</li>
    <li>HTML shorthand helper</li>
    <li>Md to HTML so you can just add your md file</li>
</ul>

<p>One simple way to do this page is to paste the HTML that Github generates for you on your repo, just tweak the code display and adjust as you need.</p>
<p>Keep in mind that Cd was coded to create this specific type of site, but surely you can adapt it to add/remove features, styles, etc.</p>
<p><a target="_blank" href="http://code.toily.mx/cadmium/">Comments welcome here</a> :)</p>