<h1>Final notes</h1>

<h2>So, why another Class library system?</h2>
<p>Well, first of all, Neon was created around the time most of these libraries
were still being developed, so it is natural that many of them appeared
simultaneously (especially after the explosion on Node usage)
But more importantly, Neon was created in order to make frontend coding more
accesible to backend developers, who already know OO languages such as Ruby or
PHP, as well as creating a common language in which they could communicate.
Neon does not try to emulate other language, and preserves the Javascript good
parts, with a nicer syntax.</p>