<h1>Final notes</h1>

<h2>So, why build another Class library system?</h2>
<p>Neon has been around since 2010, a time where many class libraries
were still being developed. Naturally, many of them were released simultaneousley
(especially after the spike in node usage.)
More to the point, Neon was created in order to make frontend coding more
accesible to backend developers, who already knew OO languages such as Ruby or
PHP, likewise, it had the objective creating a common language in which they
could communicate.
Neon does not try to emulate other languages and preserves the good parts of
Javascript, with a little bit of syntax sugar.</p>
