<h1 id="usage">Usage</h1>
<p>For browsers:</p>
<%= Cd.printCode( function(){ %>
```django
<script src="/vendor/neon.js"></script>

```
<% }) %>

<p>For node.js:</p>
<%= Cd.printCode( function(){ %>
```javascript
npm install neon

...
var Ne = require('neon');

```
<% }) %>


<%= Cd.printCode( function(){ %>
```javascript
//Namespace
UI = {};

// Create a simple Class
Class(UI, 'Widget')({
    HTML : '<div></div>',
    prototype : {
        init : function() { ... },
        render : function() { ... }
    }
});

// Inject functionality with Modules
Module('Draggable')({
    threshold : 10,
    prototype : {
        isDragging : false,
        startDrag : function() { ... }
    }
});

// Inherit and include to separate functionality
Class(UI, 'Overlay').inherits(UI.Widget).includes(Draggable)({
    HTML : '<div class="overlay"></div>',
    prototype : {
        color : 'white',
        init : function( config ) { this.setLabel( config.label ) ... },
        setLabel : function( labelText ) { ... }
    }
});

// Access Your Class variables
UI.Overlay.threshold    // => 10
UI.Overlay.HTML         // => '<div class="overlay"></div>'

// Catch params in the init method: init : function( config )
var overlay = new UI.Overlay({ color : 'black', label : 'This is my label!' });

// Use your instance
overlay.color;          // => 'black'
overlay.color = 'red';
overlay.setLabel( 'Changing the label!' );
overlay.close();

```
<% }) %>
