

/******************************************** Theme */
body {
    font-size        : 100%;
    
    font-family      : "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    color            : #333333;
    background-color : #eeeeee;
}

.top-line{
  width: 100%;
  height: 3px;

  background-color: #456;
    background: linear-gradient(to right,  #ed0700 20%,#F7C21A 21%,#F7C21A 40%,#93C763 41%,#93C763 60%,#1296ff 61%,#1296ff 80%,#7db9e8 81%); /* W3C */
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5), 0 0 0 1px rgba(255,255,255,.9);
}

.wrapper {
  width   : 660px;
  padding : 20px;
  margin  : auto;
  
  background-color : #fdfdfd;
  border-radius    : 0 0 3px 3px;
}

a {
  font-weight : bold;
  color       : #ed0700;
}

.api-icon{
  font-size: 28px;
}

/******************************************* Text */
h1,
h2,
h3,
h4,
h5,
h6{
  position   : relative;
  text-align : left;
  
  font-family : "Montserrat", sans-serif;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before{
  position : absolute;
  bottom   : -5px;
  left     : 0;
  width    : 100%;
  content  : ' ';
}


h1{
  margin : 50px -20px 5px -20px ;
  padding-left: 20px;
}
h1:before{
  height : 3px;
  top    : -15px;

  background-color : #ed0700;
  box-shadow       : inset 0 1px 0 0 rgba(0,0,0,.3);
}

h2{ margin-top : 30px; }
h2:before{
  height : 2px;

  background-color: #F7C21A;
}

h3,
h4,
h5,
h6{
  margin-top : 20px;
}

h3:before,
h4:before,
h5:before,
h6:before{
  bottom   : -4px;
  height   : 1px;
}

h3:before { background-color: #93C763; }
h4:before { background-color: #1296ff; }
h5:before { background-color: #7db9e8; }
h6:before { background-color: undefined; }

/********************************************* header */
.header {
  padding-top   : 50px;

  font-family : "Montserrat", sans-serif;
}

.header a{
  text-decoration : none; 
}

.tm-icon {
  display : block;
  margin  : auto;
}

.name{
  margin-top  : 20px;
  font-size   : 48px;
  
  text-align  : center;
  font-weight : bold;
  color       : #424242;
}

.name span{
  font-size : 24px;

    color     : #ed0700;
}

.description {
  font-size : 16px;

  text-align  : center;
  font-weight : bold;
  color       : #969696;
}

/********************************************** intro */

.get-code{
  display    : block;
  margin-top : 50px;
  
  text-align      : center;
  text-decoration : none;
}

.get-code-button{
  height : 23px;
  width  : 250px;
  
  background-color : #F7C21A;
}

.get-code-button span {
  white-space : nowrap;
}

.icon-github {
  font-size : 20px;
}


/***************************************** Code boxes */
/* main code boxes */
.code-highlight {
  position        : relative;
}

.code-highlight code{
  font-size : 12px;
  padding   : 0 15px;
  min-height: 51px;
  
  background    : #272822;
  border-radius : 5px;
}

/* Copy Button */
.code-copy{
  position : absolute;
  top : 5px;
  right : 5px;

  background-color : #F7C21A;
}

.code-copy .icon-copy {
  margin-left: 4px;
}

/* inline code */
p code{
  font-size : 14px;
  padding   : 2px 3px;

  color         : #dddddd;
  background    : #272822;
  border-radius : 3px;
}

/************************** Footer */
.footer{
  height     : 15px;
  padding    : 5px;
  margin-top : 20px;
  font-size  : 12px;
  
  color            : #ddd;
  background-color : #333;
}

.cd-disclamer{
  float     : right;
  font-size : 10px;
  
  color : rgba(255,255,255,.5);
}

.cd-disclamer a{
  color           : rgba(255,255,255,.8);
  text-decoration : none;
}

/********************************* Neon */
.clearfix{
  clear : both;
}

@font-face {
  font-family: 'NokiaCellphoneFC-Small';
  src: url('/assets/css/font/nokiafc22.eot');
  src: url('/assets/css/font/nokiafc22.eot?#iefix') format('embedded-opentype'),
       url('/assets/css/font/nokiafc22.woff') format('woff'),
       url('/assets/css/font/nokiafc22.ttf') format('truetype'),
       url('/assets/css/font/nokiafc22.svg#NokiaCellphoneFC-Small') format('svg');
}

.get-code-button {
  width       : 420px; 
  height      : 60px; 
  padding-top : 16px;
}

.get-code-button:active {

  padding-top : 16px;
}

.get-code-button i {
  font-size   : 45px;
  margin-right : 13px;
}

.get-code-button span{
  font-family    : 'NokiaCellphoneFC-Small',sans-serif;
  font-weight    : normal;
  font-size      : 22px;
  letter-spacing : -1px;
}

/* Features */
.neon-feature:before {
  background-color : transparent;
}

.neon-feature span,
.neon-feature i {
  vertical-align : middle;
}

.neon-feature span {
  font-size   : 20px;
  margin-left : 10px
}

.neon-feature i{
  font-size : 40px;
}

/* stdLib */

.stdlib-intro-table { 
  padding : 0;
}

.stdlib-intro-table li {
  width      : 33%;
  list-style : none;
  float      : left;
  text-align : center;
}

.stdlib-intro-table img:after{
  display : block;
}

.stdlib-intro-table h2 {
  font-size : 20px;
  display   : inline;
}

.stdlib-intro-table a {
  color : #333333;
  text-decoration : none;
}

.stdlib-intro-table h2:before {
  background-color : transparent;
}


.stdlib-intro-table span {
  font-weight : bold;
  color       : #ed0700;
  font-size   : 18px;
}