<h1>Neon Standard Library</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, pariatur, atque, labore, veniam incidunt cumque nam dolorem praesentium ratione assumenda quas at adipisci obcaecati animi vitae recusandae quae commodi modi.</p>

<div class="stdlib-tabs">

    <ul class="stdlib-intro-table">
        <li>
            <a href="#stdlib.eventSupport">
                <img src="assets/img/eventSupport.png" alt="Event Support">
                <div></div>
                <h2>Event Support</h2><span>.js</span>
            </a>
        </li>
        <li>
            <a href="#stdlib.nodeSupport">
                <img src="assets/img/nodeSupport.png" alt="Node Support">
                <div></div>
                <h2>Node Support</h2><span>.js</span>
            </a>
        </li>
        <li>
            <a href="#stdlib.widget">
                <img src="assets/img/widget.png" alt="Widget">
                <div></div>
                <h2>Widget</h2><span>.js</span>
            </a>
        </li>
        <div class="clearfix"></div>
    </ul>


    <div id="stdlib.eventSupport">
        <%= Cd.render('stdLib/eventSupport.ejs') %>
    </div>

    <div id="stdlib.nodeSupport">
        <%= Cd.render('stdLib/nodeSupport.ejs') %>
    </div>

    <div id="stdlib.widget">
        <%= Cd.render('stdLib/widget.ejs') %>
    </div>

</div> <!-- stdlib-tabs -->