<h1 id="stdlib">Neon Standard Library</h1>

<p>Web develpment has its own set of problems and the patterns they solve them, we decided to include these 3 main components that help a lot when developing for the browser and the server.</p>

<div class="stdlib-tabs">

    <ul class="stdlib-intro-table">
        <li class="active" data-content="stdlib-eventSupport">
            <div class="icon-wrapper">
                <img src="assets/img/eventSupport.png" alt="Event Support">
                <img src="assets/img/eventSupport-b.png" class="grayed">
            </div>
            <div></div>
            <h2>Event Support</h2><span>.js</span>
        </li>
        <li data-content="stdlib-nodeSupport">
            <div class="icon-wrapper">
                <img src="assets/img/nodeSupport.png" alt="Node Support">
                <img src="assets/img/nodeSupport-b.png" class="grayed">
            </div>
            <div></div>
            <h2>Node Support</h2><span>.js</span>
        </li>
        <li data-content="stdlib-widget">
            <div class="icon-wrapper">
                <img src="assets/img/widget.png" alt="Widget">
                <img src="assets/img/widget-b.png" class="grayed">
            </div>
            <div></div>
            <h2>Widget</h2><span>.js</span>
        </li>
        <div class="clearfix"></div>
    </ul>

    <div class="stdlib-content-wrapper">
        <div class="stdlib-content stdlib-eventSupport">
            <%= Cd.render('stdLib/eventSupport.ejs') %>
        </div>

        <div class="stdlib-content stdlib-nodeSupport">
            <%= Cd.render('stdLib/nodeSupport.ejs') %>
        </div>

        <div class="stdlib-content stdlib-widget">
            <%= Cd.render('stdLib/widget.ejs') %>
        </div>
    </div>
</div> <!-- stdlib-tabs -->

<h1>Piecing it all together</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime, accusamus, incidunt, officiis minima unde veritatis sunt a facere ipsam quasi dolorum magni fuga et optio. Alias vero deserunt commodi.</p>