<h1>Neon Standard Library</h1>

<ul class="stdlib-intro-table">
    <li>
        <img src="assets/img/eventSupport.png" alt="Event Support">
        <div></div>
        <h2>Event Support</h2><span>.js</span>
    </li>
    <li>
        <img src="assets/img/nodeSupport.png" alt="Node Support">
        <div></div>
        <h2>Node Support</h2><span>.js</span>
    </li>
    <li>
        <img src="assets/img/widget.png" alt="Widget">
        <div></div>
        <h2>Widget</h2><span>.js</span>
    </li>
    <div class="clearfix"></div>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, pariatur, atque, labore, veniam incidunt cumque nam dolorem praesentium ratione assumenda quas at adipisci obcaecati animi vitae recusandae quae commodi modi.</p>

<h2>Event Support<span>.js</span></h2>