<h2>Node Support<span>.js</span></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, modi, perferendis, rem, maxime tempore hic veritatis itaque error consequuntur dolor facilis quos minus inventore et officia a cum iusto tenetur.</p>
<%= Cd.printCode( function(){ %>
```javascript
//TODO: Real code
myMethod : function(params) {
    ParentClass.prorotype.myMethod.call(this, params);
}

```
<% }) %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, perspiciatis, nulla, explicabo pariatur repudiandae tempore at eum dicta laborum sapiente fuga voluptatibus cumque distinctio excepturi itaque dignissimos magni alias asperiores?</p>